
body {
  margin: 0;
  padding: 0;
 
  color: #41f1f4;
 //font-family: 'Orbitron', sans-serif;
  font-family: 'Rajdhani', sans-serif;
 
  font-weight: medium;
   -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {text-shadow: 10px 20px 30px #41f1f4;}
}

/* Standard syntax */
@keyframes mymove {
    50% {text-shadow: 10px 20px 30px #41f1f4;}
}

.react-datepicker__input-container{
  font-weight: bolder;
  color : black;
}

label {
  margin-left: 5px ;
}

.ModalHeading{
  color:white;
}


.app .image-gallery,
 {
  margin: 0 auto;
  width: 65%;
  transition: all 1s ease;
}



.app-buttons li {
  display: block;
}

@media (max-width: 768px) {

  .app-header {
    font-size: 20px;
  }

  .app-buttons li {
    display: block;
    margin: 10px 0;
  }

  .app-buttons li + li {
    padding: 0;
  }

  
}

@media (max-width: 1024px) {
  .app .image-gallery,
   {
    width: 100%;
  }
}






